.game {
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -130px 0 0 -200px;
  width: 400px;
  height: 260px;
  font-family: 'Consolas', 'Andale Mono', monospace;
  border: 1px solid;
  background: white;
}

body {
 background-image: url("synthwave.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

h1, h4, .status_message_box, .previous_guesses, .guess_box, .previous_guesses_box, .buttons{
  text-align: center;
}

h3 {
  padding: 25px;
  margin: 25px;
}

.status_message_box {
  margin-top: 20px;
  margin-bottom: 20px;
  color: darkgrey;
}



.previous_guesses {
  margin: 0px, auto;
  padding: 10px;
}

.guess_box {
  margin: 0px, auto;
  padding: 10px;
}

.buttons{
  margin: 0px, auto;
  padding: 10px;
}


#guess {
  text-align: center;
  font-family: 'Consolas', 'Andale Mono', monospace;
  color: black;
  border: 1px solid black;
  width: 50px;
  font-size: 16px;
}

#submit, #restart, #hint {
  border: 1px solid;
  font-size: 15px;
  font-family: 'Consolas', 'Andale Mono', monospace;
}
